<h1>Files</h1>

<table class='table table-bordered table-sortable'>
  <thead>
    <tr data-controller='sort'
        data-action='column:clear->sort#clear'
        data-sort-dir-class='asc desc'>
      <th data-sort-target="column" 
          data-controller='column' 
          data-action='click->column#next'
          data-column-dir-class='asc desc'>
          <%# link_to 'Item name', wfiles_path(q: 'test'), class: 'sortable' %>
          Item name 
      </th>
      <th data-sort-target="column" 
          data-controller='column' 
          data-action='click->column#next'
          data-column-dir-class='asc desc'>
          Item type
      </th>
      <th data-sort-target="column" 
          data-controller='column' 
          data-action='click->column#next'
          data-column-dir-class='asc desc'>
          Item create time
      </th>
    </tr>
  </thead>
  <tbody>
  <% @files.each do |file| %>
    <tr>
      <td><%= link_to file.name, wfile_path(file) %></td>
      <td><%= file.type %></td>
      <td>
        <time datetime=<%= file.formatted_created_at%>>
          <%= file.formatted_created_at %>
        </time>
      </td>
      <td>
        <%= link_to 'edit', edit_wfile_url(file) %>
        <%= link_to 'delete', wfile_path(file), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>
      </td>
    </tr>
  <% end %>
</table>
