<h1>Files</h1>

<table class='table table-bordered table-sortable'>
  <thead>
    <tr>
      <th class=<%= sort_class 'name', @sort_params %> > 
          <%= sort_link 'Item name', 'name', @sort_params %>
      </th>
      <th class=<%= sort_class 'type', @sort_params %> >
          <%= sort_link 'Item type', 'type', @sort_params %>
      </th>
      <th class=<%= sort_class 'created_at', @sort_params %> >
          <%= sort_link 'Item create time', 'created_at', @sort_params %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @files.each do |file| %>
    <tr>
      <td><%= link_to file.name, wfile_path(file) %></td>
      <td><%= file.is_dir %></td>
      <td>
        <time datetime=<%= file.formatted_created_at%>>
          <%= file.formatted_created_at %>
        </time>
      </td>
      <td>
        <%= link_to 'edit', edit_wfile_url(file) %>
        <%= link_to 'delete', wfile_path(file), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>
      </td>
    </tr>
  <% end %>
</table>
