<% content_for :create_link do %>
  <li><%= link_to 'New file', new_wfile_path(parent: @resourse.id), class:"nav-link px-2 text-white" %></li>
<% end %>

<h1><%= @resourse.name %></h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item type</th>
      <th>Item create time</th>
    </tr>
  </thead>
  <tbody>
  <% @content.each do |file| %>
    <tr>
      <td><%= file.name %></td>
      <td><%= file.type %></td>
      <td>
        <time datetime=<%= file.formatted_created_at%>>
          <%= file.formatted_created_at %>
        </time>
      </td>
      <td>
        <%= link_to 'edit', edit_wfile_path(file) %>
        <%= link_to 'delete', wfile_path(file), data: {"turbo-method": :delete, "turbo-confirm": 'Are you sure?'}  %>
      </td>
    </tr>
  <% end %>
</table>


